.row
  .col-lg-12
    h1.page-header
      | Inquiries
    = render 'breadcrumbs'
.row
  br
  .col-lg-12
    br
    table.table.table-radius.table-condensed.table-bordered.mbottom-0.sorted_table.pointer.table-navy.table-striped.table-action-sm
      thead
        tr
          th Name
          th Email
          th Date Send
          th
      tbody
        - if @inquiries == []
          tr 
            td colspan="4" No Records.
        - else
          -@inquiries.each do |i|
            tr
              td =i.sender
              td =i.email
              td =format_date(i.created_at)
              td
                a href="/admin/inquiries/#{i.id}/"
                  i.fa.fa-eye
                = link_to "<i class='fa fa-trash-o'></i>".html_safe, {:controller => :inquiries, :action => 'destroy', :id => i.id }, :method => :delete, confirm: "Are you sure?"
      =will_paginate @inquiries, :param_name=>"inquiries",:previous_label => '<i class="fa fa-chevron-left"></i>'.html_safe, :next_label => '<i class="fa fa-chevron-right"></i>'.html_safe