.row
  .col-lg-12
    h1.page-header
      | Categories
    = render 'breadcrumbs'
.row
  br
  .col-lg-12
    a.btn.btn-autotrade.pull-right href="/admin/vehicles/categories/new"
      | Add Category
    br
    br
    br

    table.table.table-radius.table-condensed.table-bordered.mbottom-0.sorted_table.pointer.table-navy.table-striped.table-action-sm
      thead
        tr
          th Name
          th Description
          th Updated At
          th
      tbody
        - if @categories == []
          tr 
            td colspan="4" No Records.
        - else
          -@categories.each do |c|
            tr
              td =c.name
              td =c.description
              td =format_date(c.updated_at)
              td
                a href="/admin/vehicles/categories/#{c.id}/"
                  i.fa.fa-eye
                a href="/admin/vehicles/categories/#{c.id}/edit"
                  i.fa.fa-pencil
    =will_paginate @categories, :param_name=>"categories",:previous_label => '<i class="fa fa-chevron-left"></i>'.html_safe, :next_label => '<i class="fa fa-chevron-right"></i>'.html_safe