.row
  .col-lg-12
    h3.page-header
      | Show Category
    ol.breadcrumb
      li
        i.fa.fa-dashboard
        a href="/admin/dashboard"  Dashboard
      li
        i.fa.fa-car
        |   Vehicle
      li.active
        i.fa.fa-plus
        |   Category
.row
  .col-lg-12
    a.btn.btn-autotrade.pull-right href="/admin/vehicles/categories/#{@category.id}/edit"
      | Update
    a.btn.btn-default.pull-right href="/admin/vehicles/categories"
      | Cancel
    br
    br
    br
    .panel.panel-primary
      .panel-heading
        h3.panel-title
          i.fa.fa-car
          |   Category
      .panel-body
        h4 = @category.name
        p =@category.description


