= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!
  .form-horizontal
    .form-group
      label.control-label.col-md-3 Profile Picture
      .col-md-6
        =render '/admin/partials/photo_field',:f=>f
    .form-group
      label.control-label.col-md-3 First Name
      .col-md-6
        = f.text_field :first_name, autofocus: true, :class=>"form-control input-sm required"
    .form-group
      label.control-label.col-md-3 Middle Name
      .col-md-6
        = f.text_field :middle_name, :class=>"form-control input-sm"
    .form-group
      label.control-label.col-md-3 Last Name
      .col-md-6
        = f.text_field :last_name, :class=>"form-control input-sm required"
    .form-group
      label.control-label.col-md-3 Contact Number
      .col-md-6
        = f.text_field :contact, :class=>"form-control input-sm"
    .form-group
      label.control-label.col-md-3 Email
      .col-md-6
        = f.email_field :email, :class=>"form-control input-sm required"
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        div
          | Currently waiting confirmation for: #{resource.unconfirmed_email}
    .form-group
      label.control-label.col-md-3 Password
      .col-md-6
        = f.password_field :password, autocomplete: "off", :class=>"form-control input-sm required"
    .form-group
      label.control-label.col-md-3 Confirm Password
      .col-md-6
        = f.password_field :password_confirmation, autocomplete: "off", :class=>"form-control input-sm required"
    br
    .form-group
      label.control-label.col-md-3
      i We need your current password to confirm your changes
    .form-group
      label.control-label.col-md-3 Current Password
      .col-md-6
        = f.password_field :current_password, autocomplete: "off", :class=>"form-control input-sm required"
   
    .form-group
      label.control-label.col-md-3
      .col-md-6
        = f.submit "Update", :class=>"btn btn-autotrade pull-right"
        / = button_to "Deactivate Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class=>"btn btn-default pull-right"

