= form_for(resource, as: resource_name, url: registration_path(resource_name), :role=>"form") do |f| 
  .form-group
    label for="register-username" 
      i.icon-user
      b Email
    = f.email_field :email, autofocus: true, :class => "form-control"
  .form-group
    label for="register-first_name" 
      i.icon-user
      b First Name
    = f.text_field :first_name, :class => "form-control"
  .form-group
    label for="register-last_name" 
      i.icon-user
      b Last Name
    = f.text_field :last_name, :class => "form-control"
  .form-group
    label for="register-password" 
      i.icon-lock
      b Password
    = f.password_field :password, autocomplete: "off", :class => "form-control"
  .form-group
    label for="register-password2" 
      i.icon-lock
      b Re-enter Password
    = f.password_field :password_confirmation, autocomplete: "off", :class => "form-control"
  .form-group
    =f.submit "Register", :class => "btn pull-right"