.team-member
  /! Team Member Photo
  .team-member-image
    - if !current_user.photo_file_name.nil?
      = image_tag current_user.photo.url
    - else
      = image_tag ('avatar.png')
  .team-member-info
    ul
      /! Team Member Info &amp; Social Links
      li.team-member-name
        = current_user.first_name + " " + current_user.last_name
        /! Team Member Social Links
        span.team-member-social
          a href="#" 
            i.icon-facebook
          a href="#" 
            i.icon-github
          a href="#" 
            i.icon-tumblr
      li Autotrade Member Since
      li = format_date(current_user.created_at)

  