.row
  .col-lg-12
    h3.page-header
      | Update Profile
    ol.breadcrumb
      li
        i.fa.fa-dashboard
        a href="/admin/dashboard"  Dashboard
      li.active
        i.fa.fa-user
        |   Profile
.row
  .col-lg-12
    .panel.panel-primary
      .panel-heading
        h3.panel-title
          i.fa.fa-check-square
          |   Profile
      .panel-body
      br
        .row 
          .col-md-12
            .col-md-3
              = render 'profile_pic'

            .col-md-9
              = render 'form_edit'
      
