=render'breadcrumbs'
.section
  .container
    .row
      - if notice
        p.alert.alert-success= notice
      - if alert
        p.alert.alert-danger= alert
      .col-sm-5
        .basic-login
          = render 'form'
          .clearfix
      .col-sm-6.col-sm-offset-1.social-login
        p You can use your Facebook or Twitter for registration
        .social-login-buttons
          a.btn-facebook-login href="#"  Use Facebook
          = link_to "Sign up with Twitter", user_omniauth_authorize_path(:twitter), :class=>"btn-twitter-login"
        .clearfix
        .not-member
          p
            | Already have an account?
            a href="sign_in"  Login here

