= form_for [:admin,:vehicles,@price_list], :class => "" do |f|  
  .form-horizontal
    .form-group
      label.control-label.col-md-3 Maker
      .col-md-6
        =f.select "maker_id", options_from_collection_for_select(@makers, "id","name"), {}, { :class => 'form-control input-sm' }
    / .form-group
    /   label.control-label.col-md-3 Model
    /   .col-md-6
    /     = f.text_field :model, :class=>"form-control input-sm"
    .form-group
      label.control-label.col-md-3 Model/Variant
      .col-md-6
        = f.text_field :variant, :class=>"form-control input-sm"
    .form-group
      label.control-label.col-md-3 SRP (PHP)
      .col-md-6
        = f.text_field :amount, :class=>"form-control input-sm"
    .form-group
      label.control-label.col-md-3 3 years LTO reg (SRP)
      .col-md-6
        = f.text_field :lto_reg, :class=>"form-control input-sm"
    .form-group
      label.control-label.col-md-3 Slug
      .col-md-6
        = f.text_field :slug, :class=>"form-control input-sm required"
    .form-group
      label.control-label.col-md-3
      .col-md-6
        a.btn.submit-btn.btn-autotrade.pull-right Save
        a.btn.btn-default.pull-right href="/admin/vehicles/price_lists" Cancel
