.row
  .col-lg-12
    h1.page-header
      | Price List
    = render 'breadcrumbs'
.row
  br
  .col-lg-12
    a.btn.btn-autotrade.pull-right href="/admin/vehicles/price_lists/new"
      | Add Price List
    br
    br
    br

    table.table.table-radius.table-condensed.table-bordered.mbottom-0.sorted_table.pointer.table-navy.table-striped.table-action-sm
      thead
        tr
          th Model
          th Variant
          th SRP
          th 3 yeras LTO reg (SRP)
          th
      tbody
        - if @price_lists == []
          tr 
            td colspan="5" No Records.
        - else
          -@price_lists.each do |pl|
            tr
              td =pl.maker.name
              td =pl.variant
              td =pl.amount
              td =pl.lto_reg
              td
                a href="/admin/vehicles/price_lists/#{pl.id}/"
                  i.fa.fa-eye
                a href="/admin/vehicles/price_lists/#{pl.id}/edit"
                  i.fa.fa-pencil
    / .pagination-wrapper
    /   ul.pagination.pagination-sm
    /     li.disabled
    /       a href="#"  Previous
    /     li.active
    /       a href="#"  1
    /     li
    /       a href="#"  2
    /     li
    /       a href="#"  3
    /     li
    /       a href="#"  4
    /     li
    /       a href="#"  5
    /     li
    /       a href="#"  6
    /     li
    /       a href="#"  7
    /     li
    /       a href="#"  8
    /     li
    /       a href="#"  9
    /     li
    /       a href="#"  10
    /     li
    /       a href="#"  Next

    =will_paginate @price_lists, :param_name=>"price_lists",:previous_label => '<i class="fa fa-chevron-left"></i>'.html_safe, :next_label => '<i class="fa fa-chevron-right"></i>'.html_safe, :class => ""

