.row
  .col-lg-12
    h3.page-header
      | Show Price List
    ol.breadcrumb
      li
        i.fa.fa-dashboard
        a href="/admin/dashboard"  Dashboard
      li
        i.fa.fa-car
        |   Vehicle
      li.active
        i.fa.fa-plus
        |   Price List
.row
  .col-lg-12
    a.btn.btn-autotrade.pull-right href="/admin/vehicles/price_lists/#{@price_list.id}/edit"
      | Update
    a.btn.btn-default.pull-right href="/admin/vehicles/price_lists/new"
      | Add
    a.btn.btn-default.pull-right href="/admin/vehicles/price_lists"
      | Cancel
    br
    br
    br
    .panel.panel-primary
      .panel-heading
        h3.panel-title
          i.fa.fa-car
          |   Price List
      .panel-body
        h4 = @price_list.maker.name
        p =@price_list.variant
        p =@price_list.amount
        p =@price_list.lto_reg


