= form_for [:member,@post], :class => "" do |f|  
  .form-horizontal
    -if for_admin_only?
      .form-group
        label.control-label.col-md-3
        .col-md-6
          label.control-label Status For Posting
          =f.select(:is_active, options_for_select(@status,f.object.is_active),{},:class=>"form-control input-sm")
    .form-group
      label.control-label.col-md-3
      .col-md-6
        label.control-label Vehicle Category
        =f.select "category_id", options_from_collection_for_select(@categories, "id","name"), {:prompt => 'Please select Category'}, { :class => 'form-control input-sm' }
    -if for_admin_only?
      .form-group
        label.control-label.col-md-3 
        .col-md-6
          label.control-label Featured Vehicle
          =f.select(:is_featured, options_for_select(@featured,f.object.is_featured),{},:class=>"form-control input-sm")
    .form-group
      label.control-label.col-md-3
      .col-md-6
        label.control-label Listing Title
        = f.text_field :title, :class=>"form-control input-sm required"
    .form-group
      label.control-label.col-md-3
      .col-md-6
        label.control-label Price (Php)
        = f.text_field :price, :class=>"form-control input-sm required"
    .form-group
      label.control-label.col-md-3
      .col-md-6
        label.control-label Location
        = f.text_field :location, :class=>"form-control input-sm"
    .form-group
      label.control-label.col-md-3
      .col-md-6
        label.control-label Description
        = f.text_area :content, :class=>"summernote form-control",:rows=>6
    .form-group
      label.control-label.col-md-3
      .col-md-3
        =f.select "maker_id", options_from_collection_for_select(@makers, "id","name", f.object.maker_id), {:prompt => 'Please select Maker'}, { :class => 'form-control input-sm' }

      label.control-label
      .col-md-3
        =f.select "vehicle_model_id", {}, {:prompt => false}, { :class => 'form-control input-sm' }

    .form-group
      label.control-label.col-md-3
      .col-md-3
        =f.select "condition_id", options_from_collection_for_select(@conditions, "id","name",f.object.condition_id), {:prompt => 'Please select Condition'}, { :class => 'form-control input-sm' }
      label.control-label 
      // Body Type
      .col-md-3
        =f.select "vehicle_type_id", options_from_collection_for_select(@vehicle_types, "id","name", f.object.vehicle_type_id), {:prompt => 'Please select Body Type'}, { :class => 'form-control input-sm' }

    .form-group
      label.control-label.col-md-3
      .col-md-3
        =f.select "fuel_type_id", options_from_collection_for_select(@fuel_types, "id","name",f.object.fuel_type_id), {:prompt => 'Please select Fuel'}, { :class => 'form-control input-sm' }
      label.control-label 
      // Body Type
      .col-md-3
        =f.select "transmission_id", options_from_collection_for_select(@transmissions, "id","name", f.object.transmission_id), {:prompt => 'Please select Transmission'}, { :class => 'form-control input-sm' }

    .form-group
      label.control-label.col-md-3
      .col-md-3
        =f.select "year_model_id", options_from_collection_for_select(@year_model, "id","name", f.object.year_model_id), {:prompt => 'Please select Year'}, { :class => 'form-control input-sm' }
      label.control-label 
      // Body Type
      .col-md-3
        =f.select "milage_id", options_from_collection_for_select(@milages, "id","name", f.object.milage_id), {:prompt => 'Please select Milage'}, { :class => 'form-control input-sm' }

    .form-group
      label.control-label.col-md-3 
      .col-md-6
        label.control-label Slug
        = f.text_field :slug, :class=>"form-control input-sm required"

    .form-group
      label.control-label.col-md-3
      .col-md-6
          label.control-label Primary Photo
          =render '/member/partials/photo_field',:f=>f
    .form-group
      label.control-label.col-md-3
      .col-md-6
        label.control-label Additional Photos
        = f.fields_for :vehicle_photos do |vehicle_photo|
          = render 'vehicle_photo_fields', :f => vehicle_photo

    
    .form-group
      label.control-label.col-md-3
      .col-md-6
        a.btn.btn-autotrade.submit-summernote.pull-right Save
        a.btn.btn-default.pull-right href="/member/posts" Cancel

javascript:
  $(document).ready(function() {
    $('#post_maker_id').change(function() {
      $.ajax({
        url: "#{update_models_admin_posts_path}",
        data: {
          maker_id : $('#post_maker_id').val()
        },
        dataType: "script"
      });
    });
  });

javascript:
  $(function() {
    $('.summernote').summernote();

    $('form').on('submit', function (e) {
      var summer = $('.note-editable').html();
      $("#post_content").val(summer);
    });
  });