.row
  .col-lg-12
    h1.page-header
      | Posts
    = render 'breadcrumbs'
.row
  br
  .col-lg-12
    a.btn.btn-autotrade.pull-right href="/member/posts/new"
      | Add Post
    br
    br

    br

    table.table.table-radius.table-condensed.table-bordered.mbottom-0.sorted_table.pointer.table-navy.table-striped.table-action-sm
      thead
        tr
          th Title
          th Maker
          th Model
          th Year
          th Price
          th Status
          th
      tbody
        - if @posts == []
          tr 
            td colspan="6" No Records.
        - else
          -@posts.each do |p|
            tr
              td =p.title
              td =p.maker.name
              td =p.vehicle_model.name
              td =p.year_model.name
              td =p.price
              td =p.get_status
              td
                a href="/member/posts/#{p.id}/"
                  i.fa.fa-eye
                a href="/member/posts/#{p.id}/edit"
                  i.fa.fa-pencil
                = link_to "<i class='fa fa-trash-o'></i>".html_safe, {:controller => :posts, :action => 'destroy', :id => p.id }, :method => :delete, confirm: "Are you sure?"