.row
  .col-lg-12
    h3.page-header
      | Show Post
    ol.breadcrumb
      li
        i.fa.fa-dashboard
        a href="/member/dashboard"  Dashboard
      li
        i.fa.fa-car
        |   Vehicle Post
      li.active
        i.fa.fa-plus
        |   Post
.row
  .col-lg-12
    a.btn.btn-autotrade.pull-right href="/member/posts/#{@post.id}/edit"
      | Update
    a.btn.btn-default.pull-right href="/member/posts"
      | Cancel
    br
    br
    br
    .panel.panel-primary
      .panel-heading
        h3.panel-title
          i.fa.fa-car
          |   Post - 
          = @post.get_status + " : " + @post.get_featured
      .panel-body
        h4 = @post.title
        p 
          u = @post.price
        p = raw @post.content

        br

        table.table.table-hover
          thead
            tr
              th Category
              th Maker
              th Model
              th Condition
              th Fuel Type
              th Milages
              th Transmission
              th Year
          tbody
            tr
              td = @post.category.name 
              td = @post.maker.name
              td = @post.vehicle_type.name
              td = @post.condition.name
              td = @post.fuel_type.name
              td = @post.milage.name
              td = @post.transmission.name
              td = @post.year_model.name


