.row
  .col-lg-12
    h1.page-header
      | Transmissions
    = render 'breadcrumbs'
.row
  br
  .col-lg-12
    a.btn.btn-autotrade.pull-right href="/admin/vehicles/transmissions/new"
      | Add Transmissions
    br
    br
    br

    table.table.table-radius.table-condensed.table-bordered.mbottom-0.sorted_table.pointer.table-navy.table-striped.table-action-sm
      thead
        tr
          th Name
          th Description
          th Updated At
          th
      tbody
        - if @transmissions == []
          tr 
            td colspan="4" No Records.
        - else
          -@transmissions.each do |t|
            tr
              td =t.name
              td =t.description
              td =format_date(t.updated_at)
              td
                a href="/admin/vehicles/transmissions/#{t.id}/"
                  i.fa.fa-eye
                a href="/admin/vehicles/transmissions/#{t.id}/edit"
                  i.fa.fa-pencil
    =will_paginate @transmissions, :param_name=>"transmissions",:previous_label => '<i class="fa fa-chevron-left"></i>'.html_safe, :next_label => '<i class="fa fa-chevron-right"></i>'.html_safe