.row
  .col-lg-12
    h3.page-header
      | Show Transmissions
    ol.breadcrumb
      li
        i.fa.fa-dashboard
        a href="/admin/dashboard"  Dashboard
      li
        i.fa.fa-car
        |   Vehicle
      li.active
        i.fa.fa-plus
        |   Transmissions
.row
  .col-lg-12
    a.btn.btn-autotrade.pull-right href="/admin/vehicles/transmissions/#{@transmission.id}/edit"
      | Update
    a.btn.btn-default.pull-right href="/admin/vehicles/transmissions"
      | Cancel
    br
    br
    br
    .panel.panel-primary
      .panel-heading
        h3.panel-title
          i.fa.fa-car
          |   Transmission
      .panel-body
        h4 = @transmission.name
        p =@transmission.description


