.row
  .col-lg-12
    .panel.panel-default
      .panel-heading
        h3.panel-title
          i.fa.fa-check-square
          |   Activity
      .panel-body
        table.table.table-radius.table-condensed.table-bordered.mbottom-0.sorted_table.pointer.table-navy.table-striped.table-action-sm
          thead
            tr
              th colspan="4" Recently Published
          tbody
            - @recent_activities.each do |ra|
              tr
                td = ra.title
                td = ra.user.email
                td = format_date(ra.created_at)
                td
                  a href="#"
                    i.fa.fa-eye
                  a href="#"
                    i.fa.fa-pencil