.row
  .col-lg-12
    h1.page-header
      | Dashboard
      small - Administrator
    ol.breadcrumb
      li.active
        i.fa.fa-dashboard
        | Dashboard
        
/! /.row
.row
  .col-lg-3.col-md-6
    .panel.panel-primary
      .panel-heading
        .row
          .col-xs-3
            i.fa.fa-comments.fa-5x
          .col-xs-9.text-right
            .huge =@inquiries
            div New Inquiries!
      a href="/admin/dashboard/1/today_inquiries" 
        .panel-footer
          span.pull-left View Details
          span.pull-right
            i.fa.fa-arrow-circle-right
          .clearfix
  .col-lg-3.col-md-6
    .panel.panel-green
      .panel-heading
        .row
          .col-xs-3
            i.fa.fa-car.fa-5x
          .col-xs-9.text-right
            .huge = @posts
            div Pending Posts!
      a href="/admin/dashboard/1/today_posts" 
        .panel-footer
          span.pull-left View Details
          span.pull-right
            i.fa.fa-arrow-circle-right
          .clearfix
  .col-lg-3.col-md-6
    .panel.panel-yellow
      .panel-heading
        .row
          .col-xs-3
            i.fa.fa-envelope.fa-5x
          .col-xs-9.text-right
            .huge 124
            div New Messages!
      a href="#" 
        .panel-footer
          span.pull-left View Details
          span.pull-right
            i.fa.fa-arrow-circle-right
          .clearfix
  .col-lg-3.col-md-6
    .panel.panel-red
      .panel-heading
        .row
          .col-xs-3
            i.fa.fa-group.fa-5x
          .col-xs-9.text-right
            .huge =@users
            div New Members!
      a href="/admin/dashboard/1/today_users" 
        .panel-footer
          span.pull-left View Details
          span.pull-right
            i.fa.fa-arrow-circle-right
          .clearfix
/! /.row
=render 'activity'