.row
  .col-lg-12
    h3.page-header
      | Show Inquiry
    ol.breadcrumb
      li
        i.fa.fa-dashboard
        a href="/member/dashboard"  Dashboard
      li.active
        i.fa.fa-envelope
        |   Inquiry
.row
  .col-lg-12
    a.btn.btn-default.pull-right href="/member/inquiries"
      | Back
    br
    br
    br
    .panel.panel-primary
      .panel-heading
        h3.panel-title
          i.fa.fa-envelope
          |   Inquiry
      .panel-body
        br
        table.table.table-hover
          tr
            th Sender
            td = @inquiry.sender
            th Date
            td = format_date(@inquiry.created_at)
          tr 
            th Email
            td
              a href="mailto:#{@inquiry.email}"   = @inquiry.email
            th Inquiry For
            td = @inquiry.get_inquiry_type
        p
          b Message :
          br
          blockquote = @inquiry.message

        