.row
  .col-lg-12
    h1.page-header
      | Year Models
    = render 'breadcrumbs'
.row
  br
  .col-lg-12
    a.btn.btn-autotrade.pull-right href="/admin/vehicles/year_models/new"
      | Add Year Models
    br
    br
    br

    table.table.table-radius.table-condensed.table-bordered.mbottom-0.sorted_table.pointer.table-navy.table-striped.table-action-sm
      thead
        tr
          th Name
          th Updated At
          th
      tbody
        - if @year_models == []
          tr 
            td colspan="3" No Records.
        - else
          -@year_models.each do |ym|
            tr
              td =ym.name
              td =format_date(ym.updated_at)
              td
                a href="/admin/vehicles/year_models/#{ym.id}/"
                  i.fa.fa-eye
                a href="/admin/vehicles/year_models/#{ym.id}/edit"
                  i.fa.fa-pencil
    =will_paginate @year_models, :param_name=>"year_models",:previous_label => '<i class="fa fa-chevron-left"></i>'.html_safe, :next_label => '<i class="fa fa-chevron-right"></i>'.html_safe