.row
  .col-lg-12
    h3.page-header
      | Show Year Model
    ol.breadcrumb
      li
        i.fa.fa-dashboard
        a href="/admin/dashboard"  Dashboard
      li
        i.fa.fa-car
        |   Vehicle
      li.active
        i.fa.fa-plus
        |   Year Model
.row
  .col-lg-12
    a.btn.btn-autotrade.pull-right href="/admin/vehicles/year_models/#{@year_model.id}/edit"
      | Update
    a.btn.btn-default.pull-right href="/admin/vehicles/year_models"
      | Cancel
    br
    br
    br
    .panel.panel-primary
      .panel-heading
        h3.panel-title
          i.fa.fa-car
          |   Year Model
      .panel-body
        h4 = @year_model.name


