.eshop-section.section
  .container
    .row
      - @vehicles.each do |vehicle|
        .col-md-3.col-sm-6
          /! Product
          .shop-item
            /! Product Image
            .shop-item-image
              a href="/carsforsale/#{vehicle.slug}" 
                = image_tag(vehicle.photo.url)
            /! Product Title
            .title
              h3
                a href="/carsforsale/#{vehicle.slug}"  = vehicle.title
            /! Product Available Colors
            .colors
              = format_date(vehicle.updated_at)
            /! Product Price
            .price
              = vehicle.price
            /! Add to Cart Button
            .actions
              a.btn.btn-small href="/carsforsale/#{vehicle.slug}" 
                i.icon-shopping-cart.icon-white
                | Read More Details
          /! End Product
         
    =will_paginate @vehicles, :param_name=>"vehicles",:previous_label => '<i class="fa fa-chevron-left"></i>'.html_safe, :next_label => '<i class="fa fa-chevron-right"></i>'.html_safe, :class => ""
    .row
      .service-wrapper
        / =image_tag('adblock.png', :class=>"adsize1") 
        /   h3 AD BLOCK
        script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" 
        /! 1a2a1a30-a0ea-46ab-8fb2-9f66dbf8118a
        ins.adsbygoogle data-ad-client="ca-pub-5268381506942883" data-ad-format="auto" data-ad-slot="7538531577" style="display:block" 
        javascript:
          (adsbygoogle = window.adsbygoogle || []).push({});