.section.section-white
  .container
    .row
      .span12.text-center
        h4 BROWSE LISTINGS BY BRAND
        h6 Vehicles On Sale
        .row
          - @makers.each do |maker|
            .col-md-2 
              a href="#" = maker.name

