.section.section-breadcrumbs
  .container
    .row
      .col-md-12
        .col-md-8
          h1 = @post.title
        .col-sm-4.col-sm-6
          script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" 
          /! 468x60, created 7/25/09
          ins.adsbygoogle data-ad-client="ca-pub-5268381506942883" data-ad-slot="2213150590" style="display:inline-block;width:488px;height:50px" 
          javascript:
            | (adsbygoogle = window.adsbygoogle || []).push({});
