.row
  /! Featured News
  .col-sm-6.featured-news
    h3 Featured News 
    - @featured_cars.each do |fc|
      .row
        .col-xs-4
          a href="#{fc.slug}" 
            =image_tag(fc.photo.url)
        .col-xs-8
          .caption
            a href="#{fc.slug}"  = fc.title
          .date = format_date(fc.updated_at)
          .intro
            i.fa.fa-map-marker
            = fc.location.present? ? fc.location : " Contact Seller for Location"
    =will_paginate @featured_cars, :param_name=>"featured_cars",:previous_label => '<i class="fa fa-chevron-left"></i>'.html_safe, :next_label => '<i class="fa fa-chevron-right"></i>'.html_safe, :class => ""
  
    .service-wrapper
            / =image_tag('adblock.png', :class=>"adsize1") 
            /   h3 AD BLOCK
            script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" 
            /! 1a2a1a30-a0ea-46ab-8fb2-9f66dbf8118a
            ins.adsbygoogle data-ad-client="ca-pub-5268381506942883" data-ad-format="auto" data-ad-slot="7538531577" style="display:block" 
            javascript:
              (adsbygoogle = window.adsbygoogle || []).push({});
    
  .col-sm-6.latest-news
    .row
      .col-sm-12
        .col-sm-6
          h3 Latest Listings On Sale
          table.table.table-condensed
            tbody
              - @posts.each do |post|
                tr
                  td 
                    a href="#{post.slug}" =post.title 
          =will_paginate @posts, :param_name=>"posts",:previous_label => '<i class="fa fa-chevron-left"></i>'.html_safe, :next_label => '<i class="fa fa-chevron-right"></i>'.html_safe

        .col-sm-6
          h3 Ask about this vehicle
          h3.text-center#thank-you style="display:none;"
            |Thank you for contacting me. 
            br
            |I will get back to you as soon as possible.
            br
            br
            br
            a.btn.reload-contact.btn-primary Back
          #contact-anchor
            =form_for [:site,@inquiry],:remote=>true do |f|
              .form-group
                =f.text_field :sender,:class=>"form-control required",:placeholder=>"Name"
                br
                =f.email_field :email,:class=>"form-control required",:placeholder=>"Email"
                br
                =f.text_area :message,:class=>"form-control required",:placeholder=>"Message",:rows=>4
                br
                =f.text_field :inquiry_type,:class=>"hidden form-control required", :value => 1
                =f.text_field :user_id,:class=>"hidden form-control required", :value=> @seller.id
                a.btn.btn-primary.submit-msg.btn-block Send

      /! End Featured News
      