.section
  .container
    .row
      .col-md-9
        .row
          .col-md-7
            .product-image-large
              #carousel-example-generic.carousel.slide data-ride="carousel" 
                /! Indicators
                ol.carousel-indicators
                  li.active data-slide-to="0" data-target="#carousel-example-generic" 
                  li data-slide-to="1" data-target="#carousel-example-generic" 
                  li data-slide-to="2" data-target="#carousel-example-generic" 
                /! Wrapper for slides
                .carousel-inner
                  .item.active
                    = image_tag(@post.photo.url)
                  - @car_photos.each do |cp|
                    .item
                      = image_tag(cp.photo.url)
                /! Controls
                a.left.carousel-control data-slide="prev" href="#carousel-example-generic" role="button" 
                  span.glyphicon.glyphicon-chevron-left
                a.right.carousel-control data-slide="next" href="#carousel-example-generic" role="button" 
                  span.glyphicon.glyphicon-chevron-right
            .colors
              span.color-white
              span.color-black
              span.color-blue
              span.color-orange
              span.color-green


          .col-md-5.product-details
            .price
              span.price-was 
              = @post.price
            br
            br
            h5 Description
            = @post.content
            table.shop-item-selections
              /! Color Selector
              tbody
                tr
                  td
                    b Location
                  td
                    i.fa.fa-map-marker 
                    | &nbsp;
                    = @post.location.present? ? @post.location : " Contact Seller for Location"
                tr
                  td
                    b Contacts:
                  td
                    = @seller.contact.present? ? @seller.contact : @seller.email
                tr
                  td &nbsp;
                  td &nbsp;
                tr
                  td &nbsp;
                  td
                    a.btn.btn href="#" 
                      i.icon-shopping-cart.icon-white
                      | Auto Loan Calculator
                tr
                  td &nbsp;
                  td &nbsp;
        .row
          .col-sm-7
            .tabbable
              /! Tabs
              ul.nav.nav-tabs.product-details-nav
                li.active
                  a data-toggle="tab" href="#tab1"  Specification
                li
                  a data-toggle="tab" href="#tab2"  Seller Info
              /! Tab Content (Full Description)
              .tab-content.product-detail-info
                #tab1.tab-pane.active
                  br
                  table.table.table-radius.table-condensed.table-bordered.mbottom-0.sorted_table.pointer.table-navy.table-striped.table-action-sm
                    tbody
                      tr
                        td Year Model
                        td =@post.year_model.name
                      tr
                        td Condition
                        td =@post.condition.name
                      tr
                        td Body Type
                        td =@post.vehicle_type.name
                      tr
                        td Transmission:
                        td =@post.transmission.name
                      tr
                        td Fuel Type:
                        td =@post.fuel_type.name
                      tr
                        td Mileage:
                        td =@post.milage.name
                  
                /! Tab Content (Specification)
                #tab2.tab-pane
                  .row

                    .col-sm-7
                      h5
                        b = @post.user.first_name + " " + @post.user.last_name
                      p Seller Name
                      br
                      h5 
                        b = @post.user.contact + " / " + @post.user.email
                      p Contact Details
                      
                      br
                      p Member Since : #{format_date(@post.user.created_at)}
                      
                      br
                      p 
                        a.btn.btn href="/site/dealerslisting/#{@post.user.first_name}#{@post.user.last_name}" See All Listing of this Dealer
                    .col-sm-5
                      .team-member
                        .team-member-image
                          - if !@post.user.photo_file_name.nil?
                            = image_tag @post.user.photo.url
                          - else
                            = image_tag ('avatar.png')
          br
          .col-sm-5
            h3 Ask about this vehicle
            h3.text-center#thank-you style="display:none;"
              |Thank you for contacting me. 
              br
              |I will get back to you as soon as possible.
              br
              br
              br
              a.btn.reload-contact.btn-primary Back
            #contact-anchor
              =form_for [:site,@inquiry],:remote=>true do |f|
                .form-group
                  =f.text_field :sender,:class=>"form-control required",:placeholder=>"Name"
                  br
                  =f.email_field :email,:class=>"form-control required",:placeholder=>"Email"
                  br
                  =f.text_area :message,:class=>"form-control required",:placeholder=>"Message",:rows=>4
                  br
                  =f.text_field :inquiry_type,:class=>"hidden form-control required", :value => 1
                  =f.text_field :user_id,:class=>"hidden form-control required", :value=> @seller.id
                  a.btn.btn-primary.submit-msg.btn-block Send
        br
        br
        .row 
          .col-md-12    
            script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" 
            /! 1a2a1a30-a0ea-46ab-8fb2-9f66dbf8118a
            ins.adsbygoogle data-ad-client="ca-pub-5268381506942883" data-ad-format="auto" data-ad-slot="7538531577" style="display:block" 
            javascript:
              (adsbygoogle = window.adsbygoogle || []).push({});

            

        br
        br
        .row
          .col-sm-12
            h3 Related Listing
            br
            - @related_listings.each do |related|
              .col-md-4.col-sm-6
                .portfolio-item
                  .portfolio-image
                    a href="#{related.slug}" 
                      = image_tag(related.photo.url)
                  .portfolio-info-fade
                    ul
                      li.portfolio-project-name = related.title
                      li = related.price
                      li.read-more
                        a.btn href="#{related.slug}"  Read more
              



      .col-md-3.blog-sidebar
        = render "selected_side_listing"


        