.section
  .container
    .row
      .col-sm-7
        .blog-post.blog-single-post
          .single-post-title
            .service-wrapper
              / =image_tag('adblock.png', :class=>"adsize1") 
              /   h3 AD BLOCK
              script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" 
              /! 1a2a1a30-a0ea-46ab-8fb2-9f66dbf8118a
              ins.adsbygoogle data-ad-client="ca-pub-5268381506942883" data-ad-format="auto" data-ad-slot="7538531577" style="display:block" 
              javascript:
                (adsbygoogle = window.adsbygoogle || []).push({});
        .blog-post.blog-single-post
          .single-post-title
            h4 Add your Calling card here. Contact Us
            p +63 917-5287233
        
        /! Contact Info
        p.contact-us-details
          b Address:
          | Metro Manila, Philippines
          br
            b Mobile:
            | +63 917-5287233
            br
              b Phone:
              | 63 2 975 1472
              br
                b Email:
                a href="mailto:abedumlao@yahoo.com.ph"  Abraham Dumlao
            b For Web Developer
              | Email or Contact: 
            a href="mailto:tawcharlene@gmail.com" Charlene Taw 
            | +63 935-4281176
        /! End Contact Info
      .col-sm-5
        /! Contact Form
        h3 Send Me a Message
        .contact-form-wrapper
          h3.text-center#thank-you style="display:none;"
            |Thank you for contacting me. 
            br
            |I will get back to you as soon as possible.
            br
            br
            br
            a.btn.reload-contact.btn-primary Back
          #contact-anchor
            =form_for [:site,@inquiry], :html => {:class=>"form-horizontal", :role=>"form"}, :remote=>true do |f|
              .form-group
                label.col-sm-3.control-label for="Name" 
                  b Your name
                .col-sm-9
                  =f.text_field :sender,:class=>"form-control required",:placeholder=>"Name"
              .form-group
                label.col-sm-3.control-label for="contact-email" 
                  b Your Email
                .col-sm-9
                  =f.email_field :email,:class=>"form-control required",:placeholder=>"Email"
                  =f.text_field :user_id,:class=>"hidden form-control required", :value=> 1
              .form-group
                label.col-sm-3.control-label for="contact-message" 
                  b Select Topic
                .col-sm-9
                  =f.select(:inquiry_type, options_for_select(@inquiry_types,f.object.inquiry_type),{},:class=>"form-control input-sm", :id=>"prependedInput")
              .form-group
                label.col-sm-3.control-label for="contact-message" 
                  b Message
                .col-sm-9
                  =f.text_area :message,:class=>"form-control required",:placeholder=>"Message",:rows=>5
              .form-group
                .col-sm-12
                  a.btn.btn-primary.submit-msg.pull-right Send
          /! End Contact Info
