.row
  .col-lg-12
    h1.page-header
      | Dashboard
      small - Member
    ol.breadcrumb
      li.active
        i.fa.fa-dashboard
        | Dashboard
        
/! /.row
.row
  .col-lg-3.col-md-6
    .panel.panel-primary
      .panel-heading
        .row
          .col-xs-3
            i.fa.fa-comments.fa-5x
          .col-xs-9.text-right
            .huge = @inquiries
            div New Inquiries!
      a href="/member/dashboard/1/today_inquiries" 
        .panel-footer
          span.pull-left View Details
          span.pull-right
            i.fa.fa-arrow-circle-right
          .clearfix
  .col-lg-3.col-md-6
    .panel.panel-green
      .panel-heading
        .row
          .col-xs-3
            i.fa.fa-car.fa-5x
          .col-xs-9.text-right
            .huge = @pending_posts
            div Pending Posts!
      a href="/member/dashboard/1/pending_posts" 
        .panel-footer
          span.pull-left View Details
          span.pull-right
            i.fa.fa-arrow-circle-right
          .clearfix
  .col-lg-3.col-md-6
    .panel.panel-yellow
      .panel-heading
        .row
          .col-xs-3
            i.fa.fa-car.fa-5x
          .col-xs-9.text-right
            .huge = @total_posts
            div Total Posts
      a href="/member/dashboard/1/total_posts" 
        .panel-footer
          span.pull-left View Details
          span.pull-right
            i.fa.fa-arrow-circle-right
          .clearfix
  .col-lg-3.col-md-6
    .panel.panel-red
      .panel-heading
        .row
          .col-xs-3
            i.fa.fa-car.fa-5x
          .col-xs-9.text-right
            .huge = @posted_cars
            div Posted Cars
      a href="/member/dashboard/1/posted_cars" 
        .panel-footer
          span.pull-left View Details
          span.pull-right
            i.fa.fa-arrow-circle-right
          .clearfix
/! /.row
=render 'activity'