.row
  .col-lg-12
    h1.page-header
      | Today's Inquries
    = render 'breadcrumbs'
.row
  br
  .col-lg-12
    br
    table.table.table-radius.table-condensed.table-bordered.mbottom-0.sorted_table.pointer.table-navy.table-striped.table-action-sm
      thead
        tr
          th Name
          th Email
          th For
          th Date Send
          th
      tbody
        - if @inquiries == []
          tr 
            td colspan="5" No Records.
        - else
          -@inquiries.each do |i|
            tr
              td =i.sender
              td =i.email
              td =i.get_inquiry_type
              td =format_date(i.created_at)
              td
                a href="/member/inquiries/#{i.id}/"
                  i.fa.fa-eye