.row
  .col-lg-12
    h1.page-header
      | Today's Posts
    = render 'breadcrumbs'
.row
  br
  .col-lg-12
    br
    table.table.table-radius.table-condensed.table-bordered.mbottom-0.sorted_table.pointer.table-navy.table-striped.table-action-sm
      thead
        tr
          th Title
          th Maker/Model
          th Created Date
          th
      tbody
        - if @posts == []
          tr 
            td colspan="4" No Records.
        - else
          -@posts.each do |p|
            tr
              td = p.title
              td = p.maker.name + " - " + p.vehicle_model.name
              td = format_date(p.created_at)
              td
                a href="/member/posts/#{p.id}/"
                  i.fa.fa-eye
                a href="/member/posts/#{p.id}/edit"
                  i.fa.fa-pencil