.row
  .col-lg-12
    h1.page-header
      | Makers
    = render 'breadcrumbs'
.row
  br
  .col-lg-12
    a.btn.btn-autotrade.pull-right href="/admin/vehicles/makers/new"
      | Add Makers
    br
    br
    br

    table.table.table-radius.table-condensed.table-bordered.mbottom-0.sorted_table.pointer.table-navy.table-striped.table-action-sm
      thead
        tr
          th Name
          th Description
          th Updated At
          th
      tbody
        - if @makers == []
          tr 
            td colspan="4" No Records.
        - else
          -@makers.each do |m|
            tr
              td =m.name
              td =m.description
              td =format_date(m.updated_at)
              td
                a href="/admin/vehicles/makers/#{m.id}/"
                  i.fa.fa-eye
                a href="/admin/vehicles/makers/#{m.id}/edit"
                  i.fa.fa-pencil
    =will_paginate @makers, :param_name=>"makers",:previous_label => '<i class="fa fa-chevron-left"></i>'.html_safe, :next_label => '<i class="fa fa-chevron-right"></i>'.html_safe