.row
  .col-lg-12
    h3.page-header
      | Show Vehicle Type
    ol.breadcrumb
      li
        i.fa.fa-dashboard
        a href="/admin/dashboard"  Dashboard
      li
        i.fa.fa-car
        |   Vehicle
      li.active
        i.fa.fa-plus
        |   Maker
.row
  .col-lg-12
    a.btn.btn-autotrade.pull-right href="/admin/vehicles/makers/#{@maker.id}/edit"
      | Update
    a.btn.btn-default.pull-right href="/admin/vehicles/makers"
      | Cancel
    br
    br
    br
    .panel.panel-primary
      .panel-heading
        h3.panel-title
          i.fa.fa-car
          |   Maker
      .panel-body
        h4 = @maker.name
        p =@maker.description


