.row
  .col-lg-12
    h1.page-header
      | Conditions
    = render 'breadcrumbs'
.row
  br
  .col-lg-12
    a.btn.btn-autotrade.pull-right href="/admin/vehicles/conditions/new"
      | Add Conditions
    br
    br
    br

    table.table.table-radius.table-condensed.table-bordered.mbottom-0.sorted_table.pointer.table-navy.table-striped.table-action-sm
      thead
        tr
          th Name
          th Description
          th Updated At
          th
      tbody
        - if @conditions == []
          tr 
            td colspan="4" No Records.
        - else
          -@conditions.each do |c|
            tr
              td =c.name
              td =c.description
              td =format_date(c.updated_at)
              td
                a href="/admin/vehicles/conditions/#{c.id}/"
                  i.fa.fa-eye
                a href="/admin/vehicles/conditions/#{c.id}/edit"
                  i.fa.fa-pencil
    =will_paginate @conditions, :param_name=>"conditions",:previous_label => '<i class="fa fa-chevron-left"></i>'.html_safe, :next_label => '<i class="fa fa-chevron-right"></i>'.html_safe