.row
  .col-lg-12
    h3.page-header
      | Show Condition
    ol.breadcrumb
      li
        i.fa.fa-dashboard
        a href="/admin/dashboard"  Dashboard
      li
        i.fa.fa-car
        |   Vehicle
      li.active
        i.fa.fa-plus
        |   Condition
.row
  .col-lg-12
    a.btn.btn-autotrade.pull-right href="/admin/vehicles/conditions/#{@condition.id}/edit"
      | Update
    a.btn.btn-default.pull-right href="/admin/vehicles/conditions"
      | Cancel
    br
    br
    br
    .panel.panel-primary
      .panel-heading
        h3.panel-title
          i.fa.fa-car
          |   Condition
      .panel-body
        h4 = @condition.name
        p =@condition.description


