.collapse.navbar-collapse.navbar-ex1-collapse
  ul.nav.navbar-nav.side-nav
    li class=('active' if params[:controller] == 'member/dashboard')
      a href="/member/dashboard" 
        i.fa.fa-fw.fa-dashboard
        |  Dashboard
    li class=('active' if params[:controller] == 'member/posts')
      a href="/member/posts" 
        i.fa.fa-list
        |  Posts
    li class=('active' if params[:controller] == 'member/inquiries')
      a href="/member/inquiries" 
        i.fa.fa-bell
        |  Inquries
/! /.navbar-collapse