.btn-autotrade{
  margin-right: 16px;
  background-color: #4f8db3;
  border-color: #4f8db3;
  color: #FFF;
}

.btn-autotrade:hover,
.btn-autotrade:focus,
.btn-autotrade:active,
.btn-autotrade.active,
.open .dropdown-toggle.btn-autotrade {
  color: #4f8db3;
  background-color: #f5f5f5;
  border-color: #4f8db3;
}

.btn-default{
  margin-right: 4px;
}