.table{
  border-collapse: separate;
  table-layout: fixed;
}
.table > thead > tr > th{
  color: #9EA7B3;
  font-weight: 500;
}
.table > tbody > tr > td{
  vertical-align: middle;
}
.table-bordered > thead > tr > th{
  border-width: 1px 0 2px 1px;
  &:first-child{
    border-left-width: 0;
  }
}
.table-bordered > tbody > tr > td{
  border-width: 1px 0 0 1px;
  &:first-child{
    border-left-width: 0;
  }
}
.table-bordered > tbody > tr:first-child > td{
  border-top-width: 0;
}

// table with action
.table-action-sm > thead > tr > th:last-child,
.table-action-sm > tbody > tr > td:last-child {
  text-align: center;
  width: 70px;
}
.table-action-sm > tbody > tr > td:last-child > a{
  color: #9EA7B3;
  font-size: 14px;
  &:hover{
    color: #555;
  }
  & + a{
    margin-left: 8px;
  }
}

.table-action > thead > tr > th:last-child,
.table-action > tbody > tr > td:last-child
{
  text-align: center;
  width: 90px;
}
.table-action > tbody > tr > td:last-child > a{
  color: #9EA7B3;
  font-size: 14px;
  &:hover{
    color: #555;
  }
  & + a{
    margin-left: 8px;
  }
}

// table with radius
.table-radius{
  border-radius: 3px;
}
.table-radius > thead > tr > th:first-child{
  border-top-left-radius: 1px;
}
.table-radius > thead > tr > th:last-child{
  border-top-right-radius: 1px;
}
.table-radius > tbody > tr:last-child > td:first-child{
  border-bottom-left-radius: 3px;
}
.table-radius > tbody > tr:last-child > td:last-child{
  border-bottom-right-radius: 3px;
}
.table-navy > thead > tr > th{
  background: #4f8db3;
  color: #fff;
}

.table-condensed > tbody > tr > td{
  font-size: 11px;
}

// table with color
.table-navy,
.table-navy > thead > tr > th{
  border-color: #4f8db3;
}