.section
  .container
    h2 Join Us!
    .row
      /! Open Vacancies List
      .col-md-4
        .service-wrapper
          script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" 
          /! 336x280, AutoSales 9/27/11
          ins.adsbygoogle data-ad-client="ca-pub-5268381506942883" data-ad-slot="9856127835" style="display:inline-block;width:280px;height:230px" 
          javascript:
            (adsbygoogle = window.adsbygoogle || []).push({});
      /! End Open Vacancies List
      /! Sidebar
      .col-md-4
        h3 Ask about this Dealer
        h3.text-center#thank-you style="display:none;"
          |Thank you for contacting me. 
          br
          |I will get back to you as soon as possible.
          br
          br
          br
          a.btn.reload-contact.btn-primary Back
        #contact-anchor
          =form_for [:site,@inquiry],:remote=>true do |f|
            .form-group
              =f.text_field :sender,:class=>"form-control required",:placeholder=>"Name"
              br
              =f.email_field :email,:class=>"form-control required",:placeholder=>"Email"
              br
              =f.text_area :message,:class=>"form-control required",:placeholder=>"Message",:rows=>4
              br
              =f.text_field :inquiry_type,:class=>"hidden form-control required", :value => 1
              =f.text_field :user_id,:class=>"hidden form-control required", :value=> @dealer_id.id
              a.btn.btn-primary.submit-msg.btn-block Send
      .col-md-4.col-sm-6
        .join-us-promo
          /! Quote
          .join-us-bubble
            blockquote
              p.quote
                = @dealer_id.first_name + " " + @dealer_id.last_name
              cite.author-info
                = @dealer_id.contact.present? ? @dealer_id.contact : "Email Dealer"
                br
                  = @dealer_id.email
                br
              cite.author-info
                | Member Since : 
                = format_date(@dealer_id.created_at)
            .sprite.arrow-speech-bubble
          /! Team Member Photo
          .author-photo
            - if !@dealer_id.photo_file_name.nil?
              = image_tag @dealer_id.photo.url
            - else
              = image_tag("avatar.png", size: "116x110")
      /! End Sidebar
