=render 'breadcrumbs'
.eshop-section.section
  .container
    .row
      - @dealer_listings.each do |dl|
        .col-md-3.col-sm-6
          /! Product
          .shop-item
            /! Product Image
            .shop-item-image
              a href="/carsforsale/#{dl.slug}" 
                = image_tag(dl.photo.url)
            /! Product Title
            .title
              h3
                a href="/carsforsale/#{dl.slug}"  = dl.title
            /! Product Available Colors
            .colors
              = format_date(dl.updated_at)
            /! Product Price
            .price
              = dl.price
            /! Add to Cart Button
            .actions
              a.btn.btn-small href="/carsforsale/#{dl.slug}" 
                i.icon-shopping-cart.icon-white
                | Read More Details
          /! End Product
    .row
      = render 'dealerinfor'