.row
  .col-lg-12
    h1.page-header
      | Vehicle Types
    = render 'breadcrumbs'
.row
  br
  .col-lg-12
    a.btn.btn-autotrade.pull-right href="/admin/vehicles/vehicle_types/new"
      | Add Vehicle Types
    br
    br
    br

    table.table.table-radius.table-condensed.table-bordered.mbottom-0.sorted_table.pointer.table-navy.table-striped.table-action-sm
      thead
        tr
          th Name
          th Description
          th Updated At
          th
      tbody
        - if @vehicle_types == []
          tr 
            td colspan="4" No Records.
        - else
          -@vehicle_types.each do |vt|
            tr
              td =vt.name
              td =vt.description
              td =format_date(vt.updated_at)
              td
                a href="/admin/vehicles/vehicle_types/#{vt.id}/"
                  i.fa.fa-eye
                a href="/admin/vehicles/vehicle_types/#{vt.id}/edit"
                  i.fa.fa-pencil
    =will_paginate @vehicle_types, :param_name=>"vehicle_types",:previous_label => '<i class="fa fa-chevron-left"></i>'.html_safe, :next_label => '<i class="fa fa-chevron-right"></i>'.html_safe