.row
  .col-lg-12
    h3.page-header
      | Add Vehicle Type
    ol.breadcrumb
      li
        i.fa.fa-dashboard
        a href="/admin/dashboard"  Dashboard
      li
        i.fa.fa-car
        |   Vehicle
      li.active
        i.fa.fa-plus
        |   Vehicle Type
.row
  .col-lg-12
    .panel.panel-primary
      .panel-heading
        h3.panel-title
          i.fa.fa-check-square
          |   Vehicle Type
      .panel-body
      br
        = render 'form'
    

