= form_for [:admin,:vehicles,@vehicle_model], :class => "" do |f|  
  .form-horizontal
    .form-group
      label.control-label.col-md-3 Maker
      .col-md-6
        =f.select "maker_id", options_from_collection_for_select(@makers, "id","name", f.object.maker_id), {}, { :class => 'form-control input-sm' }
    .form-group
      label.control-label.col-md-3 Name
      .col-md-6
        = f.text_field :name, :class=>"form-control input-sm required"
    .form-group
      label.control-label.col-md-3 Description
      .col-md-6
        = f.text_area :description, :class=>"form-control input-sm"
    .form-group
      label.control-label.col-md-3 Slug
      .col-md-6
        = f.text_field :slug, :class=>"form-control input-sm required"
    .form-group
      label.control-label.col-md-3
      .col-md-6
        a.btn.submit-btn.btn-autotrade.pull-right Save
        a.btn.btn-default.pull-right href="/admin/vehicles/vehicle_models" Cancel
