.row
  .col-lg-12
    h1.page-header
      | Vehicle Models
    = render 'breadcrumbs'
.row
  br
  .col-lg-12
    a.btn.btn-autotrade.pull-right href="/admin/vehicles/vehicle_models/new"
      | Add Vehicle Models
    br
    br
    br

    table.table.table-radius.table-condensed.table-bordered.mbottom-0.sorted_table.pointer.table-navy.table-striped.table-action-sm
      thead
        tr
          th Name
          th Maker
          th Description
          th Updated At
          th
      tbody
        - if @vehicle_models == []
          tr 
            td colspan="4" No Records.
        - else
          -@vehicle_models.each do |vm|
            tr
              td =vm.name
              td =vm.maker.name
              td =vm.description
              td =format_date(vm.updated_at)
              td
                a href="/admin/vehicles/vehicle_models/#{vm.id}/"
                  i.fa.fa-eye
                a href="/admin/vehicles/vehicle_models/#{vm.id}/edit"
                  i.fa.fa-pencil
    =will_paginate @vehicle_models, :param_name=>"vehicle_models",:previous_label => '<i class="fa fa-chevron-left"></i>'.html_safe, :next_label => '<i class="fa fa-chevron-right"></i>'.html_safe