.row
  .col-lg-12
    h3.page-header
      | Show Vehicle Model
    ol.breadcrumb
      li
        i.fa.fa-dashboard
        a href="/admin/dashboard"  Dashboard
      li
        i.fa.fa-car
        |   Vehicle
      li.active
        i.fa.fa-plus
        |   Vehicle Model
.row
  .col-lg-12
    a.btn.btn-autotrade.pull-right href="/admin/vehicles/vehicle_models/#{@vehicle_model.id}/edit"
      | Update
    a.btn.btn-default.pull-right href="/admin/vehicles/vehicle_models"
      | Cancel
    br
    br
    br
    .panel.panel-primary
      .panel-heading
        h3.panel-title
          i.fa.fa-car
          |   Vehicle Model
      .panel-body
        h4 = @vehicle_model.name
        p =@vehicle_model.description


