.section.blog-posts-wrapper
  .container
    .row
      .service-wrapper
        / =image_tag('adblock.png', :class=>"adsize1") 
        /   h3 AD BLOCK
        script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" 
        /! 1a2a1a30-a0ea-46ab-8fb2-9f66dbf8118a
        ins.adsbygoogle data-ad-client="ca-pub-5268381506942883" data-ad-format="auto" data-ad-slot="7538531577" style="display:block" 
        javascript:
          (adsbygoogle = window.adsbygoogle || []).push({});
        
  .container
    .row
    - if @blogs == []
      .col-md-4.col-sm-6
        .blog-post
          .post-title
            h3 No Blog
    -else
      -@blogs.each do |blog|
        .col-md-4.col-sm-6
          .blog-post
            /! Post Info
            .post-info
              .post-date
                .date =format_date(blog.posted_date)
            /! End Post Info
            /! Post Image
            a href="page-blog-post-right-sidebar.html" 
              =image_tag blog.photo.url
            /! End Post Image
            /! Post Title &amp; Summary
            .post-title
              h3
                a href="page-blog-post-right-sidebar.html"  =blog.title
            .post-summary
              p =simple_format blog.content
            /! End Post Title &amp; Summary
            .post-more
              a.btn.btn-small href="/blogs/#{blog.id}"  Read more
        /! End Post
