= form_for(resource, as: resource_name, url: session_path(resource_name), :role=>"form") do |f|
  .form-group
    label for="login-username" 
      i.icon-user
      b Username or Email
    = f.email_field :email, autofocus: true, :class=>"form-control", :id=>"login-username"
  .form-group
    label for="login-password" 
      i.icon-lock
      b Password
    = f.password_field :password, autocomplete: "off", :class=>"form-control", :id=>"login-password"
  .form-group
    label.checkbox
      - if devise_mapping.rememberable?
        = f.check_box :remember_me
        | Remember me
    a.forgot-password href="password/new"  Forgot password?
    button.btn.pull-right type="submit"  Login
