=render 'breadcrumbs'
.section
  .container
    .row
      - if notice
        p.alert.alert-success= notice
      - if alert
        p.alert.alert-danger= alert
      .col-sm-5
        .basic-login
          = render 'form'
          .clearfix
      .col-sm-7.social-login
        p Or login with your Facebook or Twitter
        .social-login-buttons
          a.btn-facebook-login href="#"  Login with Facebook
          = link_to "Log in with Twitter", user_omniauth_authorize_path(:twitter), :class=>"btn-twitter-login"
        .clearfix
        .not-member
          p
            | Not a member
            a href="sign_up"  Register here
