.row
  .col-lg-12
    h3.page-header
      | Show Milage
    ol.breadcrumb
      li
        i.fa.fa-dashboard
        a href="/admin/dashboard"  Dashboard
      li
        i.fa.fa-car
        |   Vehicle
      li.active
        i.fa.fa-plus
        |   Milage
.row
  .col-lg-12
    a.btn.btn-autotrade.pull-right href="/admin/vehicles/milages/#{@milage.id}/edit"
      | Update
    a.btn.btn-default.pull-right href="/admin/vehicles/milages"
      | Cancel
    br
    br
    br
    .panel.panel-primary
      .panel-heading
        h3.panel-title
          i.fa.fa-car
          |   Milage
      .panel-body
        h4 = @milage.name
        p =@milage.description


