.container
  .row
    .col-md-6
      / .tabbable
      /   ul.nav.nav-tabs.product-details-nav
      /     li.active
      /       a data-toggle="tab" href="#tab1"
      /         i.fa.fa-car
      /     li
      /       a data-toggle="tab" href="#tab2"
      /         i.fa.fa-anchor
      /     li
      /       a data-toggle="tab" href="#tab2"
      /         i.fa.fa-truck
      /     li
      /       a data-toggle="tab" href="#tab2"
      /         i.fa.fa-bicycle
      /   /! Tab Content (Full Description)
      /   .tab-content.product-detail-info
      /     #tab1.tab-pane.active
      /       ul
      /         li
      /           a href="#" Audi 
      /           | (7)
      /         li
      /           a href="#" BMW 
      /           | (5)
            
      /     #tab2.tab-pane
      =render "featuredcars"

            
        
    .col-md-6
      table.table.table-striped
        thead
          tr
            th colspan="2" Brand New Vehicle Price List
        tbody
          - if @price_lists == []
            tr 
              td colspan="2" No Records Found
          - else
            -@price_lists.each do |pl|
              tr
                td 
                  a href="/#{pl.slug}" =pl.maker.name + " Philippines Price List "
