.section
  .container
    .row
      /! Blog Post
      .col-sm-8
        .blog-post.blog-single-post
          .single-post-title
            h3 = @lookup_slug.maker.name
          .single-post-info
            | Updated Brand New Chevrolet Philippines Price List
          .single-post-content
            h5 Buyer’s Guide in buying a New Chevrolet Vehicles, prices indicated below are subject to change without prior notice
            
            br
            br
            table.table.table-radius.table-hover.table-condensed.table-bordered.mbottom-0.sorted_table.pointer.table-navy.table-action-sm
              thead
                tr
                  th Model/Variant
                  th SRP
                  th 3 yeras LTO reg (SRP)
              tbody
                - @price_lists.each do |price|
                  tr
                    -if price.amount == "" || price.lto_reg == ""
                      td colspan="3" 
                        b =price.variant
                    -else
                      td =price.variant
                      td =price.amount
                      td =price.lto_reg
          /! Comments
          .single-post-content
            a.btn.btn-large.btn-block href="#" Auto Loan Calculator
            br
            br
            h5 Requirements for Bank Auto Loan Approval
            a href="#" PLEASE CLICK HERE
          .post-coments
            h4 =@lookup_slug.maker.name + " Philippines Price List Inquiry"
            p Kindly Fill Up ALL the Details and Click "Submit Inquiry" button below
            br
            .comment-form-wrapper
              h3.text-center#thank-you style="display:none;"
                |Thank you for contacting us. 
                br
                |We will get back to you as soon as possible.
                br
                br
                a.btn.reload-contact.btn-primary Back

              =form_for [:site,@inquiry],:remote=>true do |f|
                = f.text_field :type, :value=> 3, :class=>"hidden form-control input-sm"
                .form-group
                  label for="comment-name" 
                    i.glyphicon.glyphicon-user
                    b Your name
                  = f.text_field :sender, :class=>"form-control input-sm"
                .form-group
                  label for="comment-email" 
                    i.glyphicon.glyphicon-envelope
                    b Your Email
                  = f.email_field :email, :class=>"form-control input-sm"
                .form-group
                  label for="comment-message" 
                    i.glyphicon.glyphicon-comment
                    b Your Message
                  = f.text_area :message, :class=>"form-control",:rows=>5
                .form-group
                  button.btn.btn-large.pull-right type="submit"  Send
                .clearfix
            /! End Comment Form
          /! End Comments
        
        .blog-post.blog-single-post
          .single-post-title
            .service-wrapper
              / =image_tag('adblock.png', :class=>"adsize1") 
              /   h3 AD BLOCK
              script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" 
              /! 1a2a1a30-a0ea-46ab-8fb2-9f66dbf8118a
              ins.adsbygoogle data-ad-client="ca-pub-5268381506942883" data-ad-format="auto" data-ad-slot="7538531577" style="display:block" 
              javascript:
                (adsbygoogle = window.adsbygoogle || []).push({});
        .blog-post.blog-single-post
          .single-post-title
            .service-wrapper
              / =image_tag('adblock.png', :class=>"adsize1") 
              /   h3 AD BLOCK
              script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" 
              /! 1a2a1a30-a0ea-46ab-8fb2-9f66dbf8118a
              ins.adsbygoogle data-ad-client="ca-pub-5268381506942883" data-ad-format="auto" data-ad-slot="7538531577" style="display:block" 
              javascript:
                (adsbygoogle = window.adsbygoogle || []).push({});
                  

      /! End Blog Post
      /! Sidebar
      = render 'sidelist'