.container
  h2 Browse Listing
  .row
    .col-md-12
      .service-wrapper
        .span12.text-center
            h4 BROWSE LISTINGS BY BRAND
            h6 Vehicles On Sale
            .row
              - @makers.each do |maker|
                .col-md-2 
                  a href="#" = maker.name 

            
  .row 
    .col-md-12    
      script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" 
      /! 1a2a1a30-a0ea-46ab-8fb2-9f66dbf8118a
      ins.adsbygoogle data-ad-client="ca-pub-5268381506942883" data-ad-format="auto" data-ad-slot="7538531577" style="display:block" 
      javascript:
        (adsbygoogle = window.adsbygoogle || []).push({});

       
      script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" 
      /! 1a2a1a30-a0ea-46ab-8fb2-9f66dbf8118a
      ins.adsbygoogle data-ad-client="ca-pub-5268381506942883" data-ad-format="auto" data-ad-slot="7538531577" style="display:block" 
      javascript:
        (adsbygoogle = window.adsbygoogle || []).push({});
