.blog-post.blog-single-post
  .single-post-title
    h3 Featured Listings On Sale
  br
  .single-post-info
    table.table.table-hover
      tbody
        -@featured_cars.each do |car|
          tr
            td style="width:40%"
              =image_tag(car.photo.url)
            td
              a href="/carsforsale/#{car.slug}" =car.title
              br
              i.fa.fa-map-marker 
              = car.location.present? ? car.location : " Contact Seller for the Location"
              / br
              / = car.transmission.name + " " + car.fuel_type.name
    /! Pagination
    
    =will_paginate @featured_cars, :param_name=>"featured_cars",:previous_label => '<i class="fa fa-chevron-left"></i>'.html_safe, :next_label => '<i class="fa fa-chevron-right"></i>'.html_safe, :class => "pagination-wrapper"