.section
  .container
    .row
      .col-md-3.col-sm-6
        / .in-press.press-wired
        /   a href="#"  The Philippines’ #1 Buy Sell Trade Finance Indent Imported Cars Brand New Cars Used Cars Website
        .service-wrapper
          =image_tag('adblock.jpeg', :class=>"adsize1") 
          h4 Your AD here. Contact Us
      .col-md-3.col-sm-6
        .service-wrapper
          script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" 
          /! 336x280, AutoSales 9/27/11
          ins.adsbygoogle data-ad-client="ca-pub-5268381506942883" data-ad-slot="9856127835" style="display:block;height:210px" 
          javascript:
            (adsbygoogle = window.adsbygoogle || []).push({});
      .col-md-3.col-sm-zs
        .service-wrapper
          =image_tag('adblock.jpeg', :class=>"adsize1") 
          h4 Your AD here. Contact Us
           

      .col-md-3.col-sm-6
        .service-wrapper
          =image_tag('adblock.png', :class=>"adsize1") 
          h4 Your AD here. Contact Us
            