.eshop-section.section
  .container
    h2 Latest Listings On Sale
    .row
      - @posts.each do |post|
        .col-md-3.col-sm-6
          /! Product
          .shop-item
            /! Product Image
            .shop-item-image
              a href="/carsforsale/#{post.slug}" 
                =image_tag(post.photo.url)
            /! Product Title
            .title
              h3
                a href="/carsforsale/#{post.slug}"  = post.title
            /! Product Price
            .price
              = post.price
            /! Add to Cart Button
            .actions
              a.btn.btn-small href="/carsforsale/#{post.slug}"
                i.icon-shopping-cart.icon-white
                | Read More Details
          /! End Product
      / .col-md-3.col-sm-6
      /   .shop-item
      /     .shop-item-image
      /       a href="page-product-details.html" 
      /         =image_tag('car1.jpg')
      /     .title
      /       h3
      /         a href="page-product-details.html"  2006 BMW 320i
      /     .price
      /       | Php 400,000.00
      /     .actions
      /       a.btn.btn-small href="page-product-details.html" 
      /         i.icon-shopping-cart.icon-white
      /         | Read More Details
      / .col-md-3.col-sm-6
      /   .shop-item
      /     .shop-item-image
      /       a href="page-product-details.html" 
      /         =image_tag('car1.jpg')
      /     .title
      /       h3
      /         a href="page-product-details.html"  2006 BMW 320i
      /     .price
      /       | Php 400,000.00
      /     .actions
      /       a.btn.btn-small href="page-product-details.html" 
      /         i.icon-shopping-cart.icon-white
      /         | Read More Details
      / .col-md-3.col-sm-6
      /   .shop-item
      /     .shop-item-image
      /       a href="page-product-details.html" 
      /         =image_tag('car1.jpg')
      /     .title
      /       h3
      /         a href="page-product-details.html"  2006 BMW 320i
      /     .price
      /       | Php 400,000.00
      /     .actions
      /       a.btn.btn-small href="page-product-details.html" 
      /         i.icon-shopping-cart.icon-white
      /         | Read More Details
    =will_paginate @posts, :param_name=>"posts",:previous_label => '<i class="fa fa-chevron-left"></i>'.html_safe, :next_label => '<i class="fa fa-chevron-right"></i>'.html_safe, :class => "pagination-wrapper"
    / .pagination-wrapper
    /   ul.pagination.pagination-sm
    /     li.disabled
    /       a href="#"  Previous
    /     li.active
    /       a href="#"  1
    /     li
    /       a href="#"  2
    /     li
    /       a href="#"  3
    /     li
    /       a href="#"  4
    /     li
    /       a href="#"  5
    /     li
    /       a href="#"  6
    /     li
    /       a href="#"  7
    /     li
    /       a href="#"  8
    /     li
    /       a href="#"  9
    /     li
    /       a href="#"  10
    /     li
    /       a href="#"  Next