.col-sm-4.blog-sidebar
  h4 Sponsor Ad
  .service-wrapper
    =image_tag('adblock.jpeg', :class=>"adsize1") 

  h4 Latest Listings On Sale
  ul.recent-posts
    - @listing_cars.each do |lc|
      li
        a href="carsforsale/#{lc.slug}"  = lc.title
  h4 Brand New Vehicle Price List
  ul.blog-categories
    - @brand_vehicles_prices.each do |bvp|
      li
        a href="#{bvp.slug}"  = bvp.maker.name + " Philippines Price List"
  h4 Listings On Sale By Brand
  ul.blog-categories
    -  @sale_by_brands.each do |sbb|
      li
        a href="#"  = sbb.maker.name
  h4 Listings On Sale By Condition
  ul.blog-categories
    - @sale_by_conditions.each do |sbc|
      li
        a href="#"  = sbc.condition.name
  .service-wrapper
    / =image_tag('adblock.png', :class=>"adsize1") 
    /   h3 AD BLOCK
    script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" 
    /! 1a2a1a30-a0ea-46ab-8fb2-9f66dbf8118a
    ins.adsbygoogle data-ad-client="ca-pub-5268381506942883" data-ad-format="auto" data-ad-slot="7538531577" style="display:block" 
    javascript:
      (adsbygoogle = window.adsbygoogle || []).push({});
/! End Sidebar
