.section.section-bg
  .container
    .row
      .col-md-12 style=("\n    text-align: center;\n")

        script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" 
        /! 5a836ad5-2dc0-4e51-92ee-710b45bfb644
        ins.adsbygoogle.a836ad5-2dc0-4e51-92ee-710b45bfb644 data-ad-client="ca-pub-5268381506942883" data-ad-slot="9015264779" style="display:inline-block" 
        javascript:
          | (adsbygoogle = window.adsbygoogle || []).push({});


css:
  .a836ad5-2dc0-4e51-92ee-710b45bfb644   width: 320px; height: 50px;  
    @media(min-width: 500px) { .a836ad5-2dc0-4e51-92ee-710b45bfb644 { width: 468px; height: 60px; } }
    @media(min-width: 800px) { .a836ad5-2dc0-4e51-92ee-710b45bfb644 { width: 728px; height: 90px; } }