.row
  .col-lg-12
    h1.page-header
      | Payment Options
    = render 'breadcrumbs'
.row
  br
  .col-lg-12
    a.btn.btn-autotrade.pull-right href="/admin/vehicles/payment_options/new"
      | Add Payment Option
    br
    br
    br

    table.table.table-radius.table-condensed.table-bordered.mbottom-0.sorted_table.pointer.table-navy.table-striped.table-action-sm
      thead
        tr
          th Name
          th Description
          th Updated At
          th
      tbody
        - if @payment_options == []
          tr 
            td colspan="4" No Records.
        - else
          -@payment_options.each do |po|
            tr
              td =po.name
              td =po.description
              td =format_date(po.updated_at)
              td
                a href="/admin/vehicles/payment_options/#{po.id}/"
                  i.fa.fa-eye
                a href="/admin/vehicles/payment_options/#{po.id}/edit"
                  i.fa.fa-pencil
    =will_paginate @payment_options, :param_name=>"payment_options",:previous_label => '<i class="fa fa-chevron-left"></i>'.html_safe, :next_label => '<i class="fa fa-chevron-right"></i>'.html_safe