.row
  .col-lg-12
    h3.page-header
      | Show Payment Option
    ol.breadcrumb
      li
        i.fa.fa-dashboard
        a href="/admin/dashboard"  Dashboard
      li
        i.fa.fa-car
        |   Vehicle
      li.active
        i.fa.fa-plus
        |   Payment Option
.row
  .col-lg-12
    a.btn.btn-autotrade.pull-right href="/admin/vehicles/payment_options/#{@payment_option.id}/edit"
      | Update
    a.btn.btn-default.pull-right href="/admin/vehicles/payment_options"
      | Cancel
    br
    br
    br
    .panel.panel-primary
      .panel-heading
        h3.panel-title
          i.fa.fa-car
          |   Payment Option
      .panel-body
        h4 = @payment_option.name
        p =@payment_option.description


