nav.navbar.navbar-inverse.navbar-fixed-top role="navigation" 
  /! Brand and toggle get grouped for better mobile display
  .navbar-header
    button.navbar-toggle data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button" 
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand href="/"  Autotrade Center PH
  /! Top Menu Items
  ul.nav.navbar-right.top-nav
    li.dropdown
      a.dropdown-toggle data-toggle="dropdown" href="#" 
        i.fa.fa-envelope
        b.caret
      ul.dropdown-menu.message-dropdown
        li.message-preview
          a href="#" 
            .media
              span.pull-left
                img.media-object alt="" src="http://placehold.it/50x50" 
              .media-body
                h5.media-heading
                  strong John Smith
                p.small.text-muted
                  i.fa.fa-clock-o
                  | Yesterday at 4:32 PM
                p Lorem ipsum dolor sit amet, consectetur...
        li.message-footer
          a href="#"  Read All New Messages
    li.dropdown
      a.dropdown-toggle data-toggle="dropdown" href="#" 
        i.fa.fa-bell
        b.caret
      ul.dropdown-menu.alert-dropdown
        li
          a href="#" 
            | Alert Name
            span.label.label-default Alert Badge
        li
          a href="#" 
            | Alert Name
            span.label.label-primary Alert Badge
        li
          a href="#" 
            | Alert Name
            span.label.label-success Alert Badge
        li
          a href="#" 
            | Alert Name
            span.label.label-info Alert Badge
        li
          a href="#" 
            | Alert Name
            span.label.label-warning Alert Badge
        li
          a href="#" 
            | Alert Name
            span.label.label-danger Alert Badge
        li.divider
        li
          a href="#"  View All
    li.dropdown
      a.dropdown-toggle data-toggle="dropdown" href="#" 
        i.fa.fa-user
        |  
        = current_user.email
        b.caret
      ul.dropdown-menu
        li
          a href="/users/edit" 
            i.fa.fa-fw.fa-user
            | Profile
        li
          a href="#" 
            i.fa.fa-fw.fa-envelope
            | Inbox
        li.divider
        li
          a href="#" 
            = link_to( "<i class='fa fa-power-off'></i> Log out".html_safe , destroy_user_session_path, method: :delete )
  /! Sidebar Menu Items - These collapse to the responsive navigation menu on small screens
  - if current_user.role_id == 1
    = render "admin/partials/sidebar"
  - elsif current_user.role_id == 2
    = render "member/partials/sidebar"
  - else



