.collapse.navbar-collapse.navbar-ex1-collapse
  ul.nav.navbar-nav.side-nav
    li class=('active' if params[:controller] == 'admin/dashboard')
      a href="/admin/dashboard" 
        i.fa.fa-fw.fa-dashboard
        |  Dashboard
    li class=('active' if params[:controller] == 'admin/posts')
      a href="/admin/posts" 
        i.fa.fa-list
        |  Posts
    li class=('active' if params[:controller] == 'admin/inquiries')
      a href="/admin/inquiries" 
        i.fa.fa-bell
        |  Inquries
    li
      a data-target="#demo" data-toggle="collapse" href="javascript:;" 
        i.fa.fa-car
        |   Vehicles
        i.fa.fa-fw.fa-caret-down
      ul#demo.collapse
        li class=('active' if params[:controller] == 'admin/vehicles/categories')
          a href="/admin/vehicles/categories"  Categories
          // Car, Boat, Trucks, Big Bikes
        li
          a href="/admin/vehicles/vehicle_types"  Types
          // Sedan, SUV ..
        li
          a href="/admin/vehicles/vehicle_models"  Models
          // Link to Types
        li
          a href="/admin/vehicles/makers"  Makers
          // Brand
        li
          a href="/admin/vehicles/fuel_types"  Fuel Types
          // Gasoline, diesel
        li
          a href="/admin/vehicles/transmissions"  Transmissions
          // Manual AT
        li
          a href="/admin/vehicles/conditions"  Conditions
          // 2nd hand brand new
        li
          a href="/admin/vehicles/milages"  Milage
        li
          a href="/admin/vehicles/payment_options"  Payment Options
          // Bank Finance, Cash, Installment
        li
          a href="/admin/vehicles/year_models"  Year Model
          // Year List
    li
      a data-target="#other" data-toggle="collapse" href="javascript:;" 
        i.fa.fa-gears
        |   Others
        i.fa.fa-fw.fa-caret-down
      ul#other.collapse
        li
          a href="/admin/vehicles/price_lists"  Price Lists
        li
          a href="/admin/vehicles/question_answers"  FAQs
    li class=('active' if params[:controller] == 'admin/users')
      a href="/admin/users" 
        i.fa.fa-group
        |  Users
    li class=('active' if params[:controller] == 'admin/blogs')
      a href="/admin/blogs" 
        i.fa.fa-fw.fa-edit
        |  Blogs
/! /.navbar-collapse