.row
  .col-lg-12
    h1.page-header
      | Fuel Types
    = render 'breadcrumbs'
.row
  br
  .col-lg-12
    a.btn.btn-autotrade.pull-right href="/admin/vehicles/fuel_types/new"
      | Add Fuel Types
    br
    br
    br

    table.table.table-radius.table-condensed.table-bordered.mbottom-0.sorted_table.pointer.table-navy.table-striped.table-action-sm
      thead
        tr
          th Name
          th Description
          th Updated At
          th
      tbody
        - if @fuel_types == []
          tr 
            td colspan="4" No Records.
        - else
          -@fuel_types.each do |ft|
            tr
              td =ft.name
              td =ft.description
              td =format_date(ft.updated_at)
              td
                a href="/admin/vehicles/fuel_types/#{ft.id}/"
                  i.fa.fa-eye
                a href="/admin/vehicles/fuel_types/#{ft.id}/edit"
                  i.fa.fa-pencil
    =will_paginate @fuel_types, :param_name=>"fuel_types",:previous_label => '<i class="fa fa-chevron-left"></i>'.html_safe, :next_label => '<i class="fa fa-chevron-right"></i>'.html_safe