.row
  .col-lg-12
    h3.page-header
      | Show Fuel Type
    ol.breadcrumb
      li
        i.fa.fa-dashboard
        a href="/admin/dashboard"  Dashboard
      li
        i.fa.fa-car
        |   Vehicle
      li.active
        i.fa.fa-plus
        |   Fuel Type
.row
  .col-lg-12
    a.btn.btn-autotrade.pull-right href="/admin/vehicles/fuel_types/#{@fuel_type.id}/edit"
      | Update
    a.btn.btn-default.pull-right href="/admin/vehicles/fuel_types"
      | Cancel
    br
    br
    br
    .panel.panel-primary
      .panel-heading
        h3.panel-title
          i.fa.fa-car
          |   Fuel Type
      .panel-body
        h4 = @fuel_type.name
        p =@fuel_type.description


