.footer
  .container
    .row
      .col-footer.col-md-4.col-xs-6 style=("height: 500px;") 
        h3 Like Us on Facebook
        .fb-like-box data-colorscheme="light" data-header="true" data-href="https://www.facebook.com/AutoTradeCenterPhilippines" data-show-border="true" data-show-faces="true" data-stream="false"
        br
        .clearfix
      .col-footer.col-md-3.col-xs-6 style=("height: 233px;") 
        / h3 Navigate
        / ul.no-list-style.footer-navigate-section          
        /   li
        /     a href=""  Vehicles
        /   li
        /     a href=""  Featured Cars
        /   li
        /     a href="/blogs"  Updates
        /   li
        /     a href="#"  FAQ
      .col-footer.col-md-3.col-xs-6 style=("height: 233px;") 
        h3 Contacts
        p.contact-us-details
          b Address:
          | Metro Manila, Philippines
          br
            b Mobile:
            | +63 917-5287233
            br
              b Phone:
              | 63 2 975 1472
              br
                b Email:
                a href="mailto:abedumlao@yahoo.com.ph"  Abraham Dumlao
        h3 Links
        ul.no-list-style.footer-navigate-section
          li
            a href="/blogs"  Blog
          li
            a href="/site/carsforsale"  Vehicles
          li
            a href="/site/autotrade_ads"  Ads
          li
            a href="/site/question_answers"  FAQ
      .col-footer.col-md-2.col-xs-6
        h3 Stay Connected
        ul.footer-stay-connected.no-list-style
          li
            a.facebook href="#" 
          li
            a.twitter href="#" 
          li
            a.googleplus href="#" 
    br
    br
    br
    br
    br
    
    br
    .row
      .col-md-12
        .footer-copyright 
          | Copyright © 2006 – 2014 
          a href="http://www.autotrade.com.ph"  Auto Trade Center Philippines 

#fb-root
javascript:
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=727577520622953&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

