.mainmenu-wrapper
  .container
    .menuextras
      .extras
        ul
          li
            - if user_signed_in?
              .dropdown.choose-country
                a class="#" data-toggle="dropdown" href="#" 
                  i.fa.fa-user
                  |   -     
                  = current_user.email
                  b.caret
                ul.dropdown-menu role="menu" 
                  - if current_user.role_id == 1
                    li role="menuitem" 
                      a href="/admin/dashboard" 
                        i.fa.fa-fw.fa-user
                        | Dashboard
                  - else
                    li role="menuitem" 
                      a href="/member/dashboard" 
                        i.fa.fa-fw.fa-user
                        | Dashboard
                  li role="menuitem" 
                    a href="/users/edit" 
                      i.fa.fa-fw.fa-user
                      | My Profile
                  li role="menuitem" 
                      = link_to( "<i class='fa fa-power-off'></i> Log out".html_safe , destroy_user_session_path, method: :delete )
            - else
              li
                | Hello Visitor, not registered yet?
                i.fa.fa-user
                a href="/users/sign_in"  Login / Register
          
    nav#mainmenu.mainmenu
      ul
        li.logo-wrapper
          a href="/" 
            =image_tag('logo2.png')

        li.active
          a href="/"  Home
        li
          = link_to "Vehicles", site_carsforsale_index_path
        li
          a href="/blogs"  Updates
        li
          = link_to "Contact Us", site_contacts_path
