.section
  .container
    .row
      .col-md-12.faq-wrapper
        #accordion2.panel-group
          h3 General Questions
          .panel.panel-default
            .panel-heading
              a.accordion-toggle data-parent="#accordion2" data-toggle="collapse" href="#collapse11" 
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor?
            #collapse11.accordion-body.collapse
              .accordion-inner
                .answer Answer:
                p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque
          .panel.panel-default
            .panel-heading
              a.accordion-toggle data-parent="#accordion2" data-toggle="collapse" href="#collapse12" 
                | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem?
            #collapse12.accordion-body.collapse
              .accordion-inner
                .answer Answer:
                p Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias
          .panel.panel-default
            .panel-heading
              a.accordion-toggle data-parent="#accordion2" data-toggle="collapse" href="#collapse13" 
                | Quisque nec tincidunt lectus. Nulla sit amet auctor leo?
            #collapse13.accordion-body.collapse
              .accordion-inner
                .answer Answer:
                p Pellentesque in velit et enim porta aliquam. Curabitur eget ligula dui, a euismod lectus. Phasellus eget facilisis nulla. Suspendisse sit amet dui nisl.
          .panel.panel-default
            .panel-heading
              a.accordion-toggle data-parent="#accordion2" data-toggle="collapse" href="#collapse14" 
                | Sed mollis, lorem ut tempor scelerisque, turpis enim tincidunt mi, eget venenatis neque eros in ipsum. Fusce in augue ante?
            #collapse14.accordion-body.collapse
              .accordion-inner
                .answer Answer:
                p Aenean nec mi a nisl molestie pretium nec sed velit. Vestibulum ultrices, arcu vitae varius pulvinar, justo sapien mollis dui, eget dapibus massa felis sed nulla. Maecenas in varius nulla. Praesent mollis diam vitae libero sollicitudin commodo lobortis tortor tempor. Fusce rutrum orci consequat nunc ultricies egestas. Sed vitae tortor sapien. Vivamus ac libero eu arcu aliquet pretium eu vitae sem. Sed tincidunt varius pellentesque.
          h3 Orders
          .panel.panel-default
            .panel-heading
              a.accordion-toggle data-parent="#accordion2" data-toggle="collapse" href="#collapse21" 
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor?
            #collapse21.accordion-body.collapse
              .accordion-inner
                .answer Answer:
                p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque
          .panel.panel-default
            .panel-heading
              a.accordion-toggle data-parent="#accordion2" data-toggle="collapse" href="#collapse22" 
                | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem?
            #collapse22.accordion-body.collapse
              .accordion-inner
                .answer Answer:
                p Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias
          h3 Our Services
          .panel.panel-default
            .panel-heading
              a.accordion-toggle data-parent="#accordion2" data-toggle="collapse" href="#collapse31" 
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor?
            #collapse31.accordion-body.collapse
              .accordion-inner
                .answer Answer:
                p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque
          .panel.panel-default
            .panel-heading
              a.accordion-toggle data-parent="#accordion2" data-toggle="collapse" href="#collapse32" 
                | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem?
            #collapse32.accordion-body.collapse
              .accordion-inner
                .answer Answer:
                p Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias
