.row
  .col-lg-12
    h1.page-header
      | Users
    = render 'breadcrumbs'
.row
  br
  .col-lg-12
    br
    table.table.table-radius.table-condensed.table-bordered.mbottom-0.sorted_table.pointer.table-navy.table-striped.table-action-sm
      thead
        tr
          th Name
          th Email
          th Member Since
          th
      tbody
        - if @users == []
          tr 
            td colspan="4" No Records.
        - else
          -@users.each do |u|
            tr
              td =u.first_name + " " + u.last_name
              td =u.email
              td =format_date(u.created_at)
              td
                a href="/admin/users/#{u.id}/"
                  i.fa.fa-eye