.row
  .col-lg-12
    h3.page-header
      | Show User
    ol.breadcrumb
      li
        i.fa.fa-dashboard
        a href="/admin/dashboard"  Dashboard
      li.active
        i.fa.fa-envelope
        |   User
.row
  .col-lg-12
    a.btn.btn-default.pull-right href="/admin/users"
      | Back
    br
    br
    br
    .panel.panel-primary
      .panel-heading
        h3.panel-title
          i.fa.fa-envelope
          |   User
      .panel-body
        br
        table.table
          tr
            th First Name : 
            td = @user.first_name
            th Last Name :
            td = @user.last_name
            th Middle Name : 
            td = @user.middle_name.present? ? @user.middle_name : ""
        br

        .col-lg-6
          table.table
            tr
              th Email
              td = @user.email
            tr
              th Contact
              td = @user.contact.present? ? @user.contact : ""
            tr
              th Member Since
              td = format_date(@user.created_at)
              

