= form_for [:admin,@blog], :class => "" do |f|  
  .form-horizontal
    .form-group
      label.control-label.col-md-3 Title
      .col-md-6
        = f.text_field :title, :class=>"form-control input-sm required"
    .form-group
      label.control-label.col-md-3 Content
      .col-md-6
        = f.text_area :content, :class=>"summernote form-control",:rows=>5
    .form-group
      label.control-label.col-md-3 Photo
      .col-md-6
        =render '/admin/partials/photo_field',:f=>f
    .form-group
      label.control-label.col-md-3 Slug
      .col-md-6
        = f.text_field :slug, :class=>"form-control input-sm required"
    .form-group
      label.control-label.col-md-3 Excerpt
      .col-md-6
        = f.text_field :excerpt, :class=>"form-control input-sm",:rows=>5
    .form-group
        label.control-label.col-md-3 Posted Date
        .col-md-6
          = f.text_field :posted_date, :class=>"form-control input-sm date",:maxlength=>25
    .form-group
      label.control-label.col-md-3
      .col-md-6
        a.btn.btn-autotrade.submit-summernote.pull-right Save
        a.btn.btn-default.pull-right href="/admin/blogs" Cancel


javascript:
  $(function() {
    $('.summernote').summernote();

    $('form').on('submit', function (e) {
      var summer = $('.note-editable').html();
      $("#blog_content").val(summer);
    });
  });