.row
  .col-lg-12
    h3.page-header
      | Update Blog
    ol.breadcrumb
      li
        i.fa.fa-dashboard
        a href="/admin/dashboard"  Dashboard
      li.active
        i.fa.fa-plus
        |   Blog
.row
  .col-lg-12
    .panel.panel-primary
      .panel-heading
        h3.panel-title
          i.fa.fa-check-square
          |   Blog
      .panel-body
      br
        = render 'form'
    

