.row
  .col-lg-12
    h1.page-header
      | Blogs
    = render 'breadcrumbs'
.row
  br
  .col-lg-12
    a.btn.btn-autotrade.pull-right href="/admin/blogs/new"
      | Add Blog
    br
    br

    br

    table.table.table-radius.table-condensed.table-bordered.mbottom-0.sorted_table.pointer.table-navy.table-striped.table-action-sm
      thead
        tr
          th Name
          th Description
          th Updated At
          th
      tbody
        - if @blogs == []
          tr 
            td colspan="4" No Records.
        - else
          -@blogs.each do |b|
            tr
              td =b.title 
              td =raw b.content.truncate(100)
              td =format_date(b.posted_date)
              td
                a href="/admin/blogs/#{b.id}/"
                  i.fa.fa-eye
                a href="/admin/blogs/#{b.id}/edit"
                  i.fa.fa-pencil
                = link_to "<i class='fa fa-trash-o'></i>".html_safe, {:controller => :blogs, :action => 'destroy', :id => b.id }, :method => :delete, confirm: "Are you sure?"