.row
  .col-lg-12
    h3.page-header
      | Show Blog
    ol.breadcrumb
      li
        i.fa.fa-dashboard
        a href="/admin/dashboard"  Dashboard
      li.active
        i.fa.fa-plus
        |   Blog
.row
  .col-lg-12
    a.btn.btn-autotrade.pull-right href="/admin/blogs/#{@blog.id}/edit"
      | Update
    a.btn.btn-default.pull-right href="/admin/blogs"
      | Cancel
    br
    br
    br
    - if notice
      p.alert.alert-success= notice
    - if alert
      p.alert.alert-danger= alert
    br
    .panel.panel-primary
      .panel-heading
        h3.panel-title
          i.fa.fa-car
          |   Blog
      .panel-body
        h4 = @blog.title
        p = simple_format @blog.content


