= form_for [:admin,:vehicles,@question_answer], :class => "" do |f|  
  .form-horizontal
    .form-group
      label.control-label.col-md-3 Question
      .col-md-6
        = f.text_area :question, :class=>"form-control input-sm required"
    .form-group
      label.control-label.col-md-3 Answer
      .col-md-6
        = f.text_area :answer, :class=>"form-control input-sm"
    .form-group
      label.control-label.col-md-3 Slug
      .col-md-6
        = f.text_field :slug, :class=>"form-control input-sm required"
    .form-group
      label.control-label.col-md-3
      .col-md-6
        a.btn.submit-btn.btn-autotrade.pull-right Save
        a.btn.btn-default.pull-right href="/admin/vehicles/question_answers" Cancel
