.row
  .col-lg-12
    h1.page-header
      | FAQs
    = render 'breadcrumbs'
.row
  br
  .col-lg-12
    a.btn.btn-autotrade.pull-right href="/admin/vehicles/question_answers/new"
      | Add FAQs
    br
    br
    br

    table.table.table-radius.table-condensed.table-bordered.mbottom-0.sorted_table.pointer.table-navy.table-striped.table-action-sm
      thead
        tr
          th Question
          th Answers
          th Updated At
          th
      tbody
        - if @question_answers == []
          tr 
            td colspan="4" No Records.
        - else
          -@question_answers.each do |qa|
            tr
              td =qa.question
              td =qa.answer
              td =format_date(qa.updated_at)
              td
                a href="/admin/vehicles/question_answers/#{qa.id}/"
                  i.fa.fa-eye
                a href="/admin/vehicles/question_answers/#{qa.id}/edit"
                  i.fa.fa-pencil
    =will_paginate @question_answers, :param_name=>"question_answers",:previous_label => '<i class="fa fa-chevron-left"></i>'.html_safe, :next_label => '<i class="fa fa-chevron-right"></i>'.html_safe