.row
  .col-lg-12
    h3.page-header
      | Show FAQs
    ol.breadcrumb
      li
        i.fa.fa-dashboard
        a href="/admin/dashboard"  Dashboard
      li
        i.fa.fa-car
        |   Vehicle
      li.active
        i.fa.fa-plus
        |   FAQs
.row
  .col-lg-12
    a.btn.btn-autotrade.pull-right href="/admin/vehicles/question_answers/#{@question_answer.id}/edit"
      | Update
    a.btn.btn-default.pull-right href="/admin/vehicles/question_answers"
      | Cancel
    br
    br
    br
    .panel.panel-primary
      .panel-heading
        h3.panel-title
          i.fa.fa-car
          |   FAQs
      .panel-body
        h4 = @question_answer.question
        p =@question_answer.answer


