doctype html
html.no-touch
  head
    title Autotrade
    
    = stylesheet_link_tag    "admin"
    = javascript_include_tag "admin"
    = favicon_link_tag 'logo2.png', rel: 'shortcut icon', type: 'image/png'
    link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
    link href="http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700" rel="stylesheet" type="text/css"
    -if Rails.env != "development"
      link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    = csrf_meta_tags
    
  body
    #wrapper
      =render"admin/partials/navbarhead"
      #page-wrapper
        .container-fluid
          = yield
