doctype html
html
  head
    title AutoTrade

    = stylesheet_link_tag    "site"
    = javascript_include_tag "site"
    = favicon_link_tag 'logo2.png', rel: 'shortcut icon', type: 'image/png'

    link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
    link href="http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700" rel="stylesheet" type="text/css"
    = csrf_meta_tags
 
  body
    .wrapper
      =render 'site/partials/nav'
      = yield
      =render 'site/partials/footer'